@import '/src/styles/mixins';
@import '/src/styles/theme';
.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #eee;
  z-index: $z-index-navigation;
}

.content {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include breakpoint();
}

.logo {
  height: 24px;
}

.account {
  display: flex;
  align-items: center;
}

.user {
  margin-right: 1rem;
  text-align: right;
  &-role {
    font-size: 0.75rem;
    line-height: 1;
    color: $text-light-color;
  }
}
