@import 'src/styles/theme';

:host(.app-form-control) {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $input-text-color;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 5px;
  outline: none;
  min-width: 0;
}

:host(.app-form-control:disabled) {
  background-color: #f9f9f9;
}

:host(textarea.app-form-control) {
  height: auto;
}
