$blue-dark-color: #387dbb;
$blue-light-color: #069aff;
$border-color: #eeeeee;
$text-color: #555555;
$text-light-color: #b7b7b7;
$white-color: #ffffff;
$grey-color: #eeeeee;
$red-color: #dc3545;
$input-text-color: #495057;
$green-color: #28a745;
$yellow-color: #ffc107;

$z-index-navigation: 1000;
$z-index-backdrop: 1020;
