<div [class]="wrapperClass ?? APP_FORM_FIELD_WRAPPER_CLASS">
  <ng-content select="[appLabel]"></ng-content>
  <div [class]="inputErrorsWrapperClass ?? APP_INPUT_ERRORS_WRAPPER_CLASS">
    <div [class]="inputWrapperClass ?? APP_INPUT_WRAPPER_CLASS" #inputWrapper>
      <ng-content></ng-content>
    </div>
    @if(showErrors) {
      <div [class]="errorsContainerClass ?? APP_ERRORS_CONTAINER_CLASS">
        @for(error of errors.toArray() | slice: 0:1; track errors) {
          <ng-container
            [ngTemplateOutlet]="error.template"
            [ngTemplateOutletContext]="{ visible: control?.dirty || control?.touched }"
          ></ng-container>
        }
      </div>
    }
  </div>
</div>
