<ng-container *transloco="let t">
  <header class="login-header">
    <a class="login-header-content" [routerLink]="''">
      <h1 class="login-title">{{t('login.title')}}</h1>
    </a>
  </header>
  <div class="login-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
      <h2 class="subtitle">{{t('login.subtitle')}}</h2>
      <hr class="separator"/>

      <app-form-field class="field">
        <label appLabel for="email" [required]="true">{{t('login.email')}}</label>
        <input appInput type="text" id="email" formControlName="email" [placeholder]="t('login.set-email')"/>
        @if(form.controls.email.hasError('required')) {
          <app-error
            [message]="t('errors.messages.field-required')"
          ></app-error>
        }
        @if(form.controls.email.hasError('email')) {
          <app-error
            [message]="t('errors.messages.wrong-email-format')"
          ></app-error>
        }
      </app-form-field>

      <app-form-field>
        <label appLabel for="password" [required]="true">{{t('login.password')}}</label>
        <input appInput type="password" id="password" formControlName="password" [placeholder]="t('login.set-password')"/>
        @if(form.controls.password.hasError('required')) {
          <app-error
            [message]="t('errors.messages.field-required')"
          ></app-error>
        }
      </app-form-field>

      <div class="form-group text-right">
        <button appButton type="submit" [disabled]="form.invalid">{{t('login.signin')}}</button>
      </div>
      <label class="required-field-star">{{t('field-required')}}</label>
    </form>
  </div>
</ng-container>
