<div #formFieldWrapper class="app-form-field-wrapper" [ngClass]="{ 'hide-errors': !showErrors }">
  <ng-content select="[appLabel]"></ng-content>
  <div class="app-input-errors-wrapper">
    <span *ngIf="upDescription">{{ upDescription }}</span>
    <div class="app-input-wrapper" #appInputWrapper>
      <ng-content select="[appPrefix]"></ng-content>
      <ng-content select="[appInput]"></ng-content>
      <ng-content select="[appSuffix]"></ng-content>
    </div>
    <ng-content></ng-content>
    <ng-container *ngIf="showErrors">
      <ng-container *ngFor="let error of errors.toArray() | slice: 0:1">
        <ng-container
          *ngTemplateOutlet="getTemplate(error); context: { dirty: input?.control?.dirty }"
        ></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
